.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #83a4d4, #b6fbff);
}

.weather-box {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.weather-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.weather-field {
    width: 100%;
    margin-bottom: 20px;
}

.weather-button {
    width: 100%;
    background-color: #2196f3;
    color: white;
}

.weather-info {
    margin-top: 20px;
    text-align: center;
}

.weather-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.favorite-cities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #fbc2eb, #a6c1ee);
    text-align: center;
    padding: 20px;
}

.favorite-cities-box {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: inline-block;
    text-align: left;
}

.favorite-cities-title {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.favorite-cities-list {
    list-style-type: none;
    padding: 0;
}

.favorite-cities-list li {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.favorite-cities-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.favorite-cities-message {
    text-align: center;
    font-size: 18px;
    color: #888;
}

.favorite-cities-list span {
    font-style: italic;
    font-size: 16px;
    color: #555;
}